.preview_button {
    display: flex;
    justify-content: center;
    position: relative;
    background: transparent;
    border-radius: 45px;
    padding-block: 11px;
    cursor: pointer;
    transition: ease-in-out 0.4s;
    border: 2px solid var(--white);
    padding: 9.5px 17px;
    a{
      width: 100%;
      @include Flex;
    }
    p {
      z-index: 9999;
      color: var(--white);
      font-size: 13px;
      margin-bottom: 0;
      font-weight: normal;
      z-index: 9999;
    }
}

  
@media screen and (max-width:600px) {
  .preview_button {
    padding: 7.5px 12px;
    p {
      font-size: 10px;
    }
}
}